binds {

    Mod+V { spawn-sh "cliphist list | wofi --conf /home/vix/flake-rei/dotfiles/wofi/icelake_config --style /home/vix/flake-rei/dotfiles/wofi/style.css -S dmenu --sort-order=default --cache-file=/dev/null | cliphist decode | wl-copy -n"; }

    XF86AudioRaiseVolume   allow-when-locked=true { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume   allow-when-locked=true { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute          allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute       allow-when-locked=true { spawn-sh "noctalia msg mic-mute"; }
    XF86AudioNext          allow-when-locked=true { spawn-sh "noctalia msg media next"; }
    XF86AudioPrev          allow-when-locked=true { spawn-sh "noctalia msg media previous"; }
    XF86AudioPlay          allow-when-locked=true { spawn-sh "noctalia msg media toggle"; }
    XF86AudioPause         allow-when-locked=true { spawn-sh "noctalia msg media toggle"; }
    XF86MonBrightnessUp    allow-when-locked=true { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown  allow-when-locked=true { spawn-sh "noctalia msg brightness-down"; }

    // Default layout
    Mod+F { set-column-width "100%"; }
    Mod+G { set-column-width "90%"; }
    Mod+H { set-column-width "45%"; }
}
