layout {
    default-column-width { proportion 0.9; }
    gaps 0

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}

workspace "1" { open-on-output "eDP-1"; }
workspace "2" { open-on-output "eDP-1"; }
workspace "3" { open-on-output "eDP-1"; }
workspace "4" { open-on-output "eDP-1"; }
workspace "5" {
    open-on-output "eDP-1";
    layout {
        center-focused-column "never";
    }
}
workspace "6" { open-on-output "eDP-1"; }